<script type="text/javascript">
  $(function(){

    $('#color').simplecolorpicker();

  })
</script>

<h2>Записаться на стрижку</h2>

<p>Введите ваши данные:</p>

<form action="/visit" method="POST">
  <div class="form-group">

    <div class="form-group">
        <label for="name">Имя</label>
        <input name="client[name]" type="text" class="form-control" placeholder="Name" value="<%= @c.name %>">
    </div>

    <div>
        <label for="phone">Телефон</label>
        <input type="text" name="client[phone]" class="form-control" placeholder="Phone" value="<%= @c.phone %>"> 
    </div>

    <div class="form-group">
      <label for="datestamp">Дата</label>
      <input name="client[datestamp]" type="text" class="form-control" placeholder="Time and date" value="<%= @c.datestamp %>">
    </div>

<!--     <label for="barber">Choose the barber</label>
    <select class="form-control" name="client[barber]">

      <% @barbers.each do |item| %>
        <option <%= @barber == item['name'] ? 'selected' : '' %>><%= item['name'] %></option>
      <% end %>

    </select>
 -->

  <div>
    <label>Выберете цвет покраски: </label>
    <select id="color" name="client[color]">
      <option value="#7bd148" >Green</option>
      <option value="#5484ed" >Bold blue</option>
      <option value="#a4bdfc" >Blue</option>
      <option value="#46d6db" >Turquoise</option>
      <option value="#7ae7bf" >Light green</option>
      <option value="#51b749" >Bold green</option>
      <option value="#fbd75b" >Yellow</option>
      <option value="#ffb878" >Orange</option>
      <option value="#ff887c" >Red</option>
      <option value="#dc2127" >Bold red</option>
      <option value="#dbadff" >Purple</option>
      <option value="#e1e1e1" >Gray</option>
    </select>    
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

